:root {
  --space-1: 0.2rem; 
}
html {font-size: 112.5%;} /*18px*/

body {
  background-color: var(--theme-color, #123);
  color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: #000;
  border: solid #000 1px;
  border-radius: 0.6em;
  color: #fff;
  cursor: pointer;
  padding: 0.6em 0.9em;
  position: relative;
  transition: all 0.2s;
}

button:hover,
button:focus {
  background-color: rgba(0, 0, 0, 0.6);
}

button:active {
  background-color: rgba(0, 0, 0, 0.5);
  top: 1px;
}

span,
input,
output {
  line-height: inherit;
}

body {
  font-weight: 400;
  line-height: 1.75;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 400;
  line-height: 1.3;
}


h1 {
  margin-top: 0;
}

.h1, h1 {
  font-size: 3.052rem;
}

.h2, h2 {font-size: 2.441rem;}

.h3, h3 {font-size: 1.953rem;}

.h4, h4 {font-size: 1.563rem;}

.h5, h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

th,
td {
  vertical-align: top;
}
dl {
  padding-left: 0;
}

dd {
  margin-left: 0;
}

dl > :where(div + div) {
  margin-top: 1em;
}

dl > div {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

table {
  border-collapse: collapse;
}

thead th {
    padding-bottom: 1em;
}


input {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  color: #fff;
  padding: 0.2em;
  max-width: 100%;
}

input,
textarea {
  display: block;
}


label > input {
  display: inline-block;
}

[name="task"] {
  max-width: 5em;
}

[name="taskRaw"] {
  width: 25em;
}

th + th,
td + td {
  padding-left: 0.6em;
}

td,
th {
  text-align: left;
  padding-bottom: 0.3em;
}

td {
  padding-top: 0.3em;
  transition: background-color 300ms ease-in-out;
}

tr:hover  td {
  background-color: rgba(255, 125, 30, 0.2);
}

tr:focus-within  td {
  
  background-color: coral;
} 



summary > :where(h1, h2, h3, h4) {
  display: inline-block;
}

.pagination ol,
.unstyled-list {
  padding-left: 0;
  list-style-type: none;
}

.wrapper {
  padding: 1em;
}
.wrapper__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 50rem;
}

.stack > :where(* + *) {
  margin-top: var(--gap, 1rem);
}

.table-footer td {
  border-top: solid 0.05em;
  padding-top: 0.4em;
}

.fixed-footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100vw;
}

.fixed-footer + .fixed-nav-placeholder {
  height: 4em;
}

.app-footer {
  background-color: rgba(0,0,0, 0.8);

}
.app-footer a:link {
  color: #fff;
  text-decoration: none;
}
.app-footer a:link.active {
  text-decoration: underline;
}

.app-footer a:visited {
  color: rgba(255, 255, 255, 0.7);
}

.popup-menu {
  position: relative;
}
.popup-menu[open] > summary {
  font-weight: bold;
}

.popup-menu > summary {
  list-style-type: none;
}

.popup-menu__body {
  bottom: 100%;
  background-color: #fff;
  border-radius: 1em;
  color: #123;
  left: -1em;
  padding: 0.6em;
  position: absolute;
  min-width: 100%;
  z-index: 999;
}

.popup-menu__body:after {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1em 0.6em 0 0.6em;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  bottom: -0.4em;
  left: 0.8em;
}

.popup-menu__body a:link {
  color: #123;
}

.popup-menu__body a:visited {
  color: rgba(0, 10, 20, 0.7);
}
button[data-style="subtle"] {
    box-sizing: content-box;
    color: #fff;
    background-color: rgba(255,255,255, 0.1);
    border: 0.1em solid transparent;
    transition: background-color 100ms;
}
button[data-style="subtle"]:focus,
button[data-style="subtle"]:hover {
    background-color: rgba(255,255,255, 0.5);
    color: rgba(0,0,0, 0.5)
}
.pagination ol {
    display: flex;
    flex-direction: row;
    gap: 0.3em;
}

.pagination [aria-selected="true"] button {
    border-color: rgba(255,255,255, 0.5);
}

.row:not([hidden]) {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: var(--align, end);
}


.tasks {
  max-width: 100%;
  width: max-content;
}

.task-item {
  display: grid;
  grid-template-areas:
  ".        content        ." 
  "complete content actions";
  grid-template-columns: 2rem 1fr min-content;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}
.task-item__complete {
  grid-area: complete;
}
.task-item__actions {
  flex-grow: 2;
  justify-content: flex-end;
  grid-area: actions;
}
.task-item__content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.task-item__details,
.task-item__description {
  margin: 0;
}


.task-item__synced-label {
  font-size: 0.6em;
}



.task-item__content > *:first-child:not(:only-child) {
  font-size: 0.6em;
}

.pulseOpacity {
  opacity: 0.6;
}

.pulseOpacity[data-state="started"] {
  animation: pulseOpacity 500ms ease-in-out infinite;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

.overflow-x-scroll {
  overflow-x: auto;
  max-width: 100%;
}


@keyframes pulseOpacity {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.6;
  }
}

.opacity50 {
  opacity: 0.5;
}
.margin-0 {
  margin: 0;
}

.padding-y-1 {
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
}